body
{
    background-color: aqua;
    background-image:url("./images/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    text-align: center;
    color: coral;
    text-decoration: underline black;
    font-size: xxx-large;
    font-weight: 500;

    
}
@media only screen and (max-width: 600px) {
    h1 {
      font-size: xx-large;
      font-weight: 300;
    }
  }
.button
{
    margin-left: 2%;
}
.searchbar
{
    margin-top: 5%;
}
.result
{
    display: inline-block;
    margin-left: 35%;
}
.loc_name
{
    margin-top: 3%;
    font-size: xxx-large;
    font-family: sans-serif;
}
.temp
{
    font-size: xx-large;
    font-family: sans-serif;
}
.right_div
{
    margin-left: 25%;
    margin-top: -10%;
}
.date
{
    font-size: x-large;
}
.data
{
    font-weight: 100;
    color: black;
}
